.location .box {
   position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
  }

  .location img {
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .location .box:hover .overlay{
    top: 0;
   
  }
  
  .location .overlay {
    position: absolute;
    left: 0;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgb(15 28 47 / 70%);
    z-index: 222;
    opacity: 1;
    transition: .3s ease-out;
   
  }
/* 
  .location .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22rem;
    height: 14rem;
    background: rgb(15 28 47 / 30%);
    z-index: -1;
    margin: auto auto;
    border-radius: 0.4rem;
    border: 2px solid rgb(228, 2, 179);
  } */

  .location h5 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .location label {
    color: #fff;
    margin-right: 1.5rem;
    opacity: 0.8;
    font-size: 1.3rem;
  }

  @media screen and (max-width: 800px) {
    .location .overlay::after {
      width: 20rem;
      height: 12rem;
    }
  }