.hero{
    background-image: url('../../images_sp/beta.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%; 
    margin-top: .3rem;
}
.hero .heading{
  width: 90%;
}
form { 
  
    background-color: #fff;
    border-radius: 0.3rem;
    margin-top: 3rem;
    padding: 0.5rem 1.2rem;
  }
  form .box {
    padding: 1rem;
  }
  form .box:nth-child(1) {
    border-left: none;
  }
  form input {
    padding: 0.7rem;
    width: 100%;
    border: 0.05rem solid rgba(128, 128, 128, 0.2);
    margin-top: .7rem;
    border-radius: 0.3rem;
  }
  form span {
    font-size: 1.6rem;
    color: black;
    
  }
  input::placeholder {
    font-size: 1.4rem;
    color: #9c9a9a;
  }
  form h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .hero .container {
    padding-top: 10%;
  }
  .hero h1 {
    color: #fff;
    font-size: 5rem;
  }
  .hero p {
    color: #fff;
    opacity: 0.8;
    margin-top: .3rem;
  }



  @media screen and (max-width: 800px) {
    .hero .container {
      padding-top: 8rem;
      
    }
    form {
      display: flex;
      flex-wrap: wrap;
    }
   
    form .box {
      padding: 1rem;
      width: 45%;
    }


  }
  @media screen and (max-width: 700px) {
    form {
      margin-top: 6rem; 
  }
  .hero h1 {
    color: #fff;
    font-size: 4rem;
  }
}

@media  (min-width: 401px) and (max-width:800px){  
  .hero{
 
    height: 65rem;
  }

}

  @media screen and (max-width: 400px) {
    form .box {
  
      width: 100%;
    }
    .hero h1 {
      color: #fff;
      font-size: 3.3rem;
    }
    .hero{
 
      height: 70rem;
    }
   
}
  

  