.about {
  margin-bottom: 5rem;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 1.8rem;
}
.about .left .text p {
  font-size: 1.5rem;
  padding-right: 3rem;
  margin-bottom: 1.3rem;
  line-height: 1.8rem;
}
.about .right img{
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 3rem;
  }
}
