@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
html{
  font-size: 63.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #27ae60;
  border-radius: 5rem;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.container{
  max-width: 90%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
button {
  border-radius: .4rem;
  padding: 1rem 1.5rem;
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
button i {
  margin-right: 0.3rem;
}
.heading {
  text-align: center;
  width: 60%;
  margin: auto;
 
}
.heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 5rem;
 
}
.heading p {
  color: #72809d;
  font-size: 1.6rem;
}
textarea,
input {
  border: none;
  outline: none;
  background: none;
}

.background {
  padding: 5rem 0;
  position: relative;
  background: #f7f9fc;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}
label {
  color: #2d3954;
  font-size: 1rem;
}
.mtop {
  margin-top: 3.5rem;
}

.shadow {
  box-shadow: 0 0 1.3rem 0 rgb(112 121 138 / 18%);

}
.padding {
  padding: 5rem 0;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.btn2 {
  border-radius: 3rem;
  font-size: 1.4rem;
}

.btn3 {
  background: #ff6922;
  border-radius: 3rem;
}

.btn5 {
  border-radius: 3rem;
  padding: 1.5rem 2.4rem;
  color: #27ae60;
  font-size: 1.5rem;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}

.back {

  height: 40vh;
  position: relative;
}
.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}
.back .container {
  color: #fff;
  padding: 10rem 0;
}
.back img {
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
}
.back span{
  font-size: 1.8rem;
}

.back h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
.mb {
  margin-bottom: 5rem;
}












@media (max-width: 991px){
  html{
      font-size: 55%;
  }
  .container{
    max-width: 95%;
  }
 
}

@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ============== */
  /* .heading {
    width: 100%;
  } */

  .back::after,
  .back img,
  .back {
    height: 30vh;
  }
}

@media screen and (max-width: 500px) {
  .grid3
   {
    grid-template-columns: repeat(1, 1fr);
  }
  .back h1{

 font-size: 3rem;
}
.heading h1 {
 
  font-weight: 500;
  font-size: 3rem;
 
}

}







